@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .return-select {
        & [data-slot="trigger"] {
            @apply bg-sky-200 hover:bg-sky-100;

            & label {
                @apply !text-slate-600;
            }

            & [data-slot="innerWrapper"] span {
                @apply !text-slate-600;
            }
        }
    }
    [data-slot="popover"] [data-slot="content"] {
        @apply bg-sky-200 text-black;

        & [data-slot="listbox"] li {
            @apply hover:bg-sky-300 hover:text-white;
        }
    }

    .spinner {
        margin: 3.2rem auto 1.6rem;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid rgb(0, 111, 238);
        border-right-color: #f1f5f9;
        animation: rotate 1s infinite linear;
    }

    .spinner-mini {
        margin: 0;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid #f1f5f9;
        border-right-color: transparent;
        animation: rotate 1s infinite linear;
    }

    .video video {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .flip-horizontal video {
        transform: scaleX(-1);
    }

    .animate-scan {
        animation: scan-line 2.5s linear;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        background: rgb(0, 200, 224);
        background: linear-gradient(
            0deg,
            rgba(0, 200, 224, 0.85),
            rgba(51, 211, 230, 0.8),
            rgba(115, 225, 238, 0.6),
            rgba(159, 235, 243, 0.4),
            rgba(209, 246, 249, 0.2)
        );
    }

    @keyframes scan-line {
        0% {
            transform: translateY(-100%) scaleY(1);
        }
        49% {
            transform: translateY(80cqh) scaleY(1);
        }
        50% {
            transform: translateY(80cqh) scaleY(-1);
        }
        100% {
            transform: translateY(-100%) scaleY(-1);
        }
    }

    @keyframes scan-line-reverse {
        0% {
            transform: translateY(100%);
            background-color: transparent;
        }
        50% {
            transform: translateY(0%);
        }
        100% {
        }
    }

    @keyframes rotate {
        to {
            transform: rotate(1turn);
        }
    }
}

:root {
    --background: #ffffff;
    --foreground: #000000;
}

body {
    color: black;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
